// GENERAL STYLES
@use 'cart' as *;
@use 'header' as *;
@use 'store' as *;
@use 'checkout' as *;
@use 'footer' as *;
@use 'toast' as *;

.body {
    font-family: 'SF Display Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
